@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'IBM Plex Sans Arabic', system-ui, sans-serif;
  }
  h1, h2, h3, h4 {
    font-family: 'Noto Kufi Arabic', sans-serif;
  }
  .leaflet-container { z-index: 0; }
}
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #F4F5F1; }
::-webkit-scrollbar-thumb { background: #B99A5B; border-radius: 4px; }
